@model Topic.ViewModels.TopicViewModel

@{
    ViewBag.Title = "Topic Page";
}

<a href="@Url.Action("Create","Topic")">New Post</a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Content</th>
        <th>Published</th>
        <th>Go to topic content</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.AuthorId</td>
                <td>@post.Title</td>
                <td>@post.Content?.Substring(0, 15)</td>
                <td>@post.UpdatedDate.ToString("f")</td>
                <td>
                    <a href="@Url.Action("Detail", "Topic", new {id = post.Id})"></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>